.input,
.select {
  display: flex;
  flex-flow: column wrap;
}

.input label,
.select label {
  font-weight: bold;
  font-size: 1rem;
}

.input input,
.select select {
  padding: 5px;
  border: var(--border);
  border-radius: var(--round-radius);
}

.checkbox {
  display: flex;
  flex-flow: row nowrap;
}

.checkbox:has(input[type="checkbox"]:not(:checked)) {
  font-weight: lighter;

}

.button {
  background-color: var(--inativo);
  border-radius: var(--round-radius);
  border: var(--border);
  min-width: 1rem;
  color: black;
}

.button:hover {
  filter: brightness(50%);
}

.highlight {
  background-color: var(--destaque);
  color: white;
}
