.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;

  gap: 15px;

  border: var(--border);
  border-radius: var(--radius);

  padding: 1rem;
  margin: 1rem;
}

.grid button {
  border: var(--border)
}

.grid button.salvar {
  background-color: var(--destaque);
  color: white;
}
