.reservas {
  --total-minutes: 900
    /*  (22h - 8h + 1) * 60m) */
  ;
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem repeat(var(--total-minutes), 1fr);

  height: 80vh;

}

.lab {
  grid-row: 1;
  border-bottom: var(--border);
  border-right: var(--border);
}

.reserva {
  background-color: var(--destaque);
  color: white;
  border-radius: 5px;
  z-index: 2;

  font-size: var(--pequeno);

  transform: scale(0.95);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
}

.reserva_vazia {
  border-bottom: var(--border);
  border-right: var(--border);
}

.hora {
  grid-column: 1;
  grid-row: auto / span 60;

  border-bottom: var(--border);
  border-right: var(--border);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hora,
.reserva {}
