:root {

  /* --font-sans and --font-monospace are defined on layout.js */
  --border: 1px solid lightgray;
  --reserva-color: green;
  --phi: 1.66;
  
  --pequeno: 0.8rem;
  --regular: calc(var(--pequeno) * var(--phi));
  --grande: calc(var(--regular) * var(--phi));

  --round-radius: 5px;

  --destaque: green; 
  --secundario: #a5d6a7;
  --inativo: lightgray;
  --alerta: red;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.linha {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

}

h1{
  text-align: center;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
