* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }

  .navegacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 0;
    position: relative;
    z-index: 1000;
  }

  .navegacao a {
    padding: 10px 20px;
    background-color: #38a169;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
  }

  .navegacao a:hover {
    background-color: #2f855a; 
  }

  .navegacao a.admin {
    background-color: #1a365d;
  }

  .navegacao a.listagem {
    background-color: #2b6cb0;
  }

  .fundo-escuro {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }

  .modal-box {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #111;
  }

  label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #777;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .btn-cadastrar {
    width: 100%;
    padding: 12px;
    background-color: #085730; /* Verde escuro */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-cadastrar:hover {
    background-color: #064b2a;
  }

  .senha-container {
    position: relative;
  }

  .senha-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
  }

  .login-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }

  .login-link a {
    color: #085730;
    text-decoration: none;
    font-weight: bold;
  }

  .login-link a:hover {
    text-decoration: underline;
  }