:root {
 --green: #078B39;
 --red: #FF3B00;
 --gray: #6C6C6C;
 --light-gray: #D9D9D9;
 --black: #000000;
 --white: #ffffff;
 --phi: 1.6180339887;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  max-width: 100%;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
font-size: 4rem
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente */

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: grid;

  grid-template-rows: 2fr 5fr 10%;
  grid-template-columns: 5fr 1fr;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;

  height: 50vh;
  width: calc(50vh*var(--phi));

  border-radius: 20px;
}

.edit {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 1 / span 2;
  align-content: space-evenly;
}

input, select {

  font-size: 1rem;
  text-align: center;
  background-color: var(--light-gray);
  color: var(--black);
  border-radius: 100px;
  border: none;
  padding: 2px;
}

input {
}

select {
}

button {
  background-color: rgba(0,0,0,0);
  border: none;
  height: 2rem;
  padding: 0 1em;
  border-radius: 100px;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}
button.apagar {
  color: var(--red);
  grid-column: 2;
  text-align: right;
}
button.apagar:hover {
}
button.salvar{
  color: var(--green);
  margin-left: 1em
}
button.salvar:hover {
}
button.cancelar {
}
button.cancelar:hover {
}

.cancelar-salvar {
  grid-column: 2;
  grid-row: 3;

  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}
